
.scene {
    display: inline-block;
    width: 180px;
    height: 260px;
  /*   border: 1px solid #CCC; */
    margin: 0.2em 0;
    perspective: 600px;
  }
  
  .card {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  .card__face {
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
  }
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: crimson;
  }
  
  .card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
  }

/*👉  PROCESSO DE MATEMÁTICA👈*/
.processoMath .card__face{
    border-radius: 16px;
}

.processoMath .card__face {
    height: 260px;
}
.processoMath .card__face--back {
    background: rgb(90, 130, 205);
}

.processoMath .card__face--front {
    background: rgb(13, 136, 145);
  }
  