@charset "UTF-8";
@import url(reset.css);
@import url(colorfonts.css);
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: var(--pesoPadrao);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    overflow-x: hidden;
    hyphens: none;   
}
main {
    max-width: 85ch;
    margin: 0 auto;
}
section {
    box-sizing: border-box;
    margin-bottom: 2.5em;
    page-break-before: always;
    page-break-after: avoid;
}
section header {
    padding: 15px 0 0px 0;
    display: flex;
    flex-direction: column;
}
blockquote {
    font-size: 1em;
    max-width: 100%;
}
figure {
    margin: 1em 0.5em;
    display: table;
}
figure img {
    display: block;
    max-width: 100%;
    height: auto;
}
figcaption.p4legenda {
    display: table-caption;
    caption-side: bottom;
    hyphens: none;
}
figcaption.legenda2 {
    display: table-caption;
    caption-side: top;
    hyphens: none;
}

p, ul li {
    hyphens: none;
    max-width: 100%;
}

p {
    hyphens: none !important;
    line-height: 170%;    
    max-width: 100%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

strong em, em strong  {
    font-weight: bold;
    font-style: italic;
}


/*👉 ----- IDs PARA MAPEAMENTO ------ 👈
//mathml_id_2028548792szo
//aj_pro_id_t092036697776uk
//lang_id_ed2047233561g
//glossario_id_mOm092057201488_glos
//glossario_id_mOm092057201488_voc
//list_id_gv2456551860w
*/

/*👉 CLASSES RESERVADAS DIGITAL 👈*/
.aluno{}
.professor{}
.url_para_encurta{}
.pag{}
.box_aluno{}
.box_professor_mp{
    background: var(--laranja3);
    padding: 0 1em 1em 1em ;
}
.caracterizada{}
.descaracterizada{}
.ajustepronuncia{}
.conteudoOriginal{}
.conteudoAdaptado{}
.creditoimagemOED{}
.creditoimagem{}
.creditoimagemResposta{}
.creditoimagemPage{}

.orienta{ 
    background: var(--roxo2);
    border-radius: 0  0 1em 1em ;
    color:var(--preto);
    font-family: var(--titulo);
    text-align: center;
    padding: 0.5em 1em ;
    margin: 0 0 1em 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.orientaTx{}

.objetodigital_oed::before{
    content: '';
    background: url(../images/icone_oed.svg) top left no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    position: absolute;
    margin:-4px 0 0 -53px;
}
.objetodigital_oed{
    color: #016173;
    background: var(--branco);
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    border: 2px solid #01778c;
    border-radius: 0.5em;
    width: max-content;
    max-width: 100%;
    padding: 0.2em 1em;
    margin: 1em 0 1em 54px;
}

/* Visual do número da página */
header .pag {
    align-self: flex-end;
}

.pag {
    color: #000;
    font-weight: bold;
    padding: 4px 8px;
    width: max-content;
    page-break-before: always;
    page-break-after: avoid;
}

/*👉CLASSES PARA DIAGRAMAR👈*/
/* COLUNAS E ALINHAMENTO */
.col2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col2c {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
}

.col2s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 16px;
}

.col2d{}

/* Alinhamento vertical */
.colTop {
    align-items: flex-start;
}

.colCenter {
    align-items: center;
}

.colBottom {
    align-items: flex-end;
}

/* Alinhamento vertical de imagens dentro do parágrafo */
.imgBottom {
    vertical-align: text-bottom;
}

.imgTop {
    vertical-align: sub;
}

.ico,
.imgMiddle {
    vertical-align: middle;
}

/* ALINHAMENTO DE TEXTO  */
.esquerda tr td,
.esquerda tr th,
.esquerda {
    text-align: left !important;
}

.direita tr td,
.direita tr th,
.direita {
    text-align: right;
}

.centro tr td,
.centro tr th,
.centro {
    text-align: center;
}

.justificado tr td,
.justificado tr th,
.justificado {
    text-align: justify;
}

.largura25 {
    width: 25% !important;
}

.largura33 {
    width: 33% !important;
}

.largura45 {
    width: 45% !important;
}


/*👉ESTILOS CONSUMIVEL👈*/
.linhaResposta1, .linhaResposta2,
.linhaResposta3, .linhaResposta4,
.linhaResposta5{
    background: url(../images/linha_resposta.svg) ;
    width: 100%;
    margin: 1em 0;
}
.linhaResposta1{
    height:20px;
}
.linhaResposta2{ 
    height: 30px;
}
.linhaResposta3{ 
    height: 50px;   
}
.linhaResposta4{   
    height: 60px;   
}
.linhaResposta5{    
    height: 80px;
   
}

.lacunaRespostaP, .lacunaRespostaM,
.lacunaRespostaG{
    background: url(../images/linha_resposta.svg) ;
    background-position-y:20px ;
    margin: 0 5px;
}
.lacunaRespostaP{
    padding:0em 1em;
}
.lacunaRespostaM{
    padding:0em 2.5em;
}
.lacunaRespostaG{  
    padding:0em 4.5em;
}


/*👉=================== ESTILOS MIOLO ================================👈*/
/* TÍTULOS  */
.tit1{
    align-items: center;
    background:url(../images/pv_capitulo.svg) top left no-repeat var(--vermelho1);
    background-size:100%;
    border-radius: 0 0 3em 3em;
    color: var(--branco);
    display: flex;
    flex-direction: column;  
    gap: 0.5em;  
    height: 140px;
    justify-content: center;
    padding: 0 1em;
    width: max-content;

}
.tit1::before{
    content: '' ;
    background: url(../images/pv_capitulo_bg.svg) top left no-repeat;
    background-size: 100%;    
    height: 233px;
    margin: 5.7em 0 0 -150px;
    position: absolute;
    width: 150px;
    z-index: -10;
   
}

.p0tit1, .p0tit1numpv, .p0tit1pv{
    font-family: var(--titulo);
}

.p0tit1{
    background:var(--laranja2);
    font-size: var(--peso1);
    font-weight: bold;
    line-height: 1.13em;
    padding: 0.5em;
    margin: 1.6em 0 0 0;
    width: max-content;
    max-width: 75%;
    height: max-content;
}

.p0tit1numpv{
    font-size: 3.1em;
    font-weight: bold;
   
    
}
.p0tit1pv{
    font-weight: bold;
}


.p0tit2{
    background: var(--laranja2);
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso2);
    line-height: 1.2em;
    margin: 1em 0 0.5em;
    padding: 0.2em 1em 0.3em 2em;
    width: max-content;
    max-width: 100%;
}
.p0tit2::before{
    content: '';
    background: url(../images/pv_p0tit2.svg) top left no-repeat;
    background-size: 100%;
    width: 50px;
    height: 80px;
    position: absolute;
    margin: -30px 0 0 -55px;
}
.p0tit2numpv{}
.p0tit2pv{}

.p0tit3{
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso3);
    line-height: 1.2em;
    margin: 1em 0 0.5em 0;
    padding: 0.2em 1em 0.3em 0.8em;
    width: max-content;
    max-width: 100%;
}
.p0tit3::before{
    content: '';
    background: url(../images/pv_p0tit3.svg) top left no-repeat;
    background-size: 100%;
    width: 18px;
    height: 30px;
    position: absolute;
    margin: 4px 0 0 -24px;
}

.p0tit4{
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso4);
    width: max-content;
    max-width: 100%;
    margin: 1em 0 0.5em 0;
}
.p0tit5{
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso5);
    width: max-content;
    max-width: 100%;
    margin: 1em 0 0.5em 0;
}
.p0tit6{
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso6);
    width: max-content;
    max-width: 100%;
    margin: 1em 0 0.5em 0;
}

.p0tit3negativo{}
.p0tit4negativo{}
.p0tit5negativo{}
.p0tit6negativo{}

/* FIXME: classes provisórias */
.sectitAtv{
    margin: 2em 0 0.5em 0;
}
.sectitAtv::before{
    content: '';
    background:url(../images/pv_titatividadesbg.svg) top left no-repeat;
    width: 95px;
    height: 40px;
    position: absolute;
    margin: -25px 0 0 70px;
    z-index: -3;
}
.sectitAtv>.atv{
    background: url(../images/pv_titatividades_bg.svg) no-repeat var(--verde1);
    background-position-y: -23px ;
    background-position-x: -20px ;
    background-size:45px;
    border-radius: 1em 1em 0 0;
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--pesoPadrao);
    color: var(--branco);
    padding: 0.4em 1em 0.3em 1.9em ;
    width: max-content;
    max-width: 100%;
}
.sectitAtv>.anote{
    background: var(--roxo2);
    border-radius:0em 1.2em 0 0;
    font-family: var(--texto);
    font-weight: normal;
    font-size: var(--pesoMenor);
    padding: 0.2em 1em 0.4em 1em ;
    width: max-content;
    max-width: 100%;
}

/* TÍTULOS DE ELEMENTOS */

/* Tabelas e Quadros */
.p1tabelatit{}
.p1tabelatitcoluna{}
.p1tabelatexto{}
.p1tabelatextoitem{}
.p1tabelatextoitemcont{}


/* Gráficos */
.P1GraficoTit{}

/* maps */
.P1MapaTit{}

/* Título Box */
.p1box1tit{
    font-family: var(--titulo);
    font-weight: bold;
    color: var(--branco);
}
.p1box2tit{
    font-family: var(--titulo);
    font-weight: bold;
    color: var(--preto);
}

/* Título Seção */
.secTits{
    position: relative;
}
.p1sec1tit1{
    background:url(../images/pv_p1sec1tit1.svg) top center no-repeat;
    background-size: 100%;
    color: var(--branco);
    display: flex;
    font-family: var(--titulo);
    font-size: var(--peso6);
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    padding:0 0 0 0;
    position: absolute;
    margin:-40px 0 0 50px;
    z-index: 3;
}
.p1sec1tit1>p{
    background: var(--preto);
    border-radius: 1em;
    color: var(--branco);
    font-family: var(--titulo);
    font-size: var(--peso7);
    font-weight: bold;
    line-height: 1.1em;
    padding: 0.2em 0;
    width: 100px;
    text-align: center;
}
.p1sec1tit2{
    background: var(--verde2);
    border-radius: 0  4em 4em 0;
    color: var(--preto);
    font-family: var(--titulo);
    font-size: var(--pesoPadrao);
    width: max-content;
    max-width: 70%;
    margin:0 0 0 130px;
    position: absolute;
    padding: 0.2em 1em 0.4em 3em;
}
.p1sec1tit3{}


.secTits2{
    background: url(../images/pv_sec2.svg) top center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 115px;
    margin: 0 0 0 20px;
}
.secTits2::before{
    content: '';
    background: url(../images/pv_sec2_before.svg) top center no-repeat;
    background-size: 100%;
    width: 197px;
    height: 46px;
    position: absolute;
    margin: -70px 0 0 170px;
    z-index: 5;
}
.p1sec2tit1{
    color: var(--verde1);
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso6);
    line-height: 1.1em;
    text-align: center;
    padding: 0.5em 0 0 0;
}
.p1sec2tit2{
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso7);
}
.p1sec2tit3{}

.p1sec3tit1{
    background: var(--preto);
    color: var(--branco);
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso6);
    padding: 0.2em 1em;
    width: max-content;
    max-width: 100%;
}
.p1sec3tit2{}
.p1sec3tit3{}

.p1sec4tit1{
    background: var(--preto);
    color: var(--branco);
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso6);
    padding: 0.2em 1em;
    width: max-content;
    max-width: 100%;
}
.p1sec4tit2{}
.p1sec4tit3{}

.p1sec5tit1{}
.p1sec5tit2{}
.p1sec5tit3{}

.p1sec6tit1{}
.p1sec6tit2{}
.p1sec6tit3{}

/*👉======= TEXTOS PESO: principal =======👈*/
/* Texto Principal */
.p2textosemrecuo,
.p2textosemrecuoitem,
.p2textosemrecuoitemcont,
.p2textonumsemrecuo,
.p2texto,
.p2textoitem,
.p2textoitemcont,
.p2textosubitem,
.p2textosubitemcont,
.p2textoitemletra,
.p2textoitemletracont,
.p2textoletra,
.p2textoletracont,
.p2textoletraitem,
.p2textoletraitemcont,
.p2textomarcador,
.p2textomarcadorcont,
.p2textomarcadoritem,
.p2textomarcadoritemcont,
.p2textomarcadorsubitem,
.p2textomarcadorsubitemcont,
.p2questao,
.p2questaocont,
.p2questaoletra,
.p2questaoletracont,
.p2questaoletraitem,
.p2questaoletraitemcont,
.p2questaoitem,
.p2questaoitemcont,
.p2questaosubitem,
.p2questaosubitemcont,
.p2questaomarcador,
.p2questaomarcadorcont,
.p2atv,
.p2atvcont,
.p2atvromano,
.p2atvromanocont,
.p2atvitem,
.p2atvitemcont,
.p2atvsubitem,
.p2atvsubitemcont,
.p2atvitemletra,
.p2atvitemletracont,
.p2atvletra,
.p2atvletracont,
.p2atvletraromano,
.p2atvletraromanocont,
.p2atvletraitem,
.p2atvletraitemcont,
.p2atvletrasubitem,
.p2atvletrasubitemcont,
.p2atvletraitemromano,
.p2atvletraitemromanocont,
.p2atvmarcador,
.p2atvmarcadorcont,
.p2atvsomatoria,
.p2atvsomatoriacont{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: justify;
}



.p2textosemrecuo{
    margin: 0.5em 0;
}
ul.p2textosemrecuoitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1em;
}
p.p2textosemrecuoitem{
    margin: 0.5em 0 0.5em 1em;
}
p.p2textosemrecuoitem::before{
    content: '•';
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textosemrecuoitemcont{
    margin: 0.3em 0 0.5em 1em;
}
.p2textonumsemrecuo{
    margin: 0.5em 0 0.5em 28px;
}
.p2textomarcadorsemrecuo{
    margin: 0.5em 0 0.5em 28px;
}
.p2textomarcadorsemrecuocont{ /*TODO: Aguardando de definição de uso*/
    margin: 0.5em 0 0.5em 28px;
}


.p2texto{
    margin: 0.5em 0 0.5em 28px;
}

ul.p2textoitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 44px;
}
p.p2textoitem{
    margin: 0.5em 0 0.5em 44px;
}
p.p2textoitem::before{
    content: '•';
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textoitemcont{
    margin: 0em 0 0.5em 44px;
}

ul.p2textosubitem{
    list-style: none;
    margin: 0.5em 0 0.5em 3.5em;
}
ul.p2textosubitem li::before{
     content: '•';
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;

}
p.p2textosubitem{
    margin: 0.5em 0 0.5em 3.5em;
}
p.p2textosubitem::before{
    content: '•';
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textosubitemcont{
    margin: 0.5em 0 0.5em 3.5em;
}

.p2textoitemletra{
    margin: 0.5em 0 0.5em 5em;
}
.p2textoitemletracont{
    margin: 0.5em 0 0.5em 5em;
}

.p2textoletra{
    margin: 0.5em 0 0.5em 50px;
}
.p2textoletracont{
    margin: 0.5em 0 0.5em 50px;
}
ul.p2textoletraitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 65px;
}
p.p2textoletraitem{
    margin: 0.5em 0 0.5em 65px;
}
p.p2textoletraitem::before{
    content: '•';
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textoletraitemcont{
    margin: 0.5em 0 0.5em 65px;
}

.p2textomarcador{
    margin: 0.5em 0 0.5em 50px;
}
.p2textomarcadorcont{
    margin: 0.5em 0 0.5em 50px;
}/*TODO: Aguardando de definição de uso*/

ul.p2textomarcadoritem{
    list-style: disc;
    margin: 0.5em 0 0.5em 4em;
}
p.p2textomarcadoritem{
    margin: 0.5em 0 0.5em 4em;
}
p.p2textomarcadoritem::before{
    content: '•';
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textomarcadoritemcont{
    margin: 0.5em 0 0.5em 4em;
}

ul.p2textomarcadorsubitem{
    list-style: none;
    margin: 0.5em 0 0.5em 5em;
} /*TODO: Aguardando de definição de uso*/
ul.p2textomarcadorsubitem li::before, p.p2textomarcadorsubitem::before{
    content: '•';
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
p.p2textomarcadorsubitem{
    margin: 0.5em 0 0.5em 5em;
}
.p2textomarcadorsubitemcont{
    margin: 0.5em 0 0.5em 5em;
}/*TODO: Aguardando de definição de uso*/

/* Questão Teoria */
.p2questao{}
.p2questaocont{}

.p2questaoletra{}
.p2questaoletracont{}

.p2questaoletraitem{}
.p2questaoletraitemcont{}

.p2questaoitem{}
.p2questaoitemcont{}

.p2questaosubitem{}
.p2questaosubitemcont{} 

.p2questaomarcador{}
.p2questaomarcadorcont{}

/* Atividades */
.p2atv{
    margin: 0.5em 0 0.5em 28px;
}
.p2atvcont{
    margin: 0.5em 0 0.5em 28px;
}
.p2atvromano{
    margin: 0.5em 0 0.5em 4em;
}
.p2atvromanocont{
    margin: 0.5em 0 0.5em 4em;
}

ul.p2atvitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 3em;
}
p.p2atvitem{
    margin: 0.5em 0 0.5em 3em;
}
p.p2atvitem::before{
    content: '•';
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2atvitemcont{
    margin: 0.5em 0 0.5em 3em;
}

ul.p2atvsubitem{
    margin: 0.5em 0 0.5em 4em;
}
ul.p2atvsubitem li::before, p.p2atvsubitem::before{
    content: '•';
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
p.p2atvsubitem{
    margin: 0.5em 0 0.5em 4em;
}
.p2atvsubitemcont{}

.p2atvitemletra{}
.p2atvitemletracont{}

.p2atvletra{}
.p2atvletracont{}

.p2atvletraromano{}
.p2atvletraromanocont{}

.p2atvletraitem{}
.p2atvletraitemcont{}

.p2atvletrasubitem{}
.p2atvletrasubitemcont{}

.p2atvletraitemromano{}
.p2atvletraitemromanocont{}

.p2atvmarcador{}
.p2atvmarcadorcont{}/*TODO: Aguardando de definição de uso*/

.p2atvsomatoria{}
.p2atvsomatoriacont{}



/*👉==================== TEXTOS PESO: intermediário ===================👈*/
/* Textos intermediários */
.p3intermediariotit{}
.p3intermediario{}

.p3intermediarioitem{}
.p3intermediarioitemcont{}
.p3intermediarioitemletra{}
.p3intermediarioitemletracont{}

.p3intermediarioletra{}
.p3intermediarioletracont{}

.p3intermediarionumero{}
.p3intermediarionumerocont{}

.p3intermediariomarcador{}
.p3intermediariomarcadorcont{}

.p3intermediariosemrecuo{}
.p3intermediariosemrecuoitem{}
.p3intermediariosemrecuoitemcont{}

.p3intermediariosemrecuoletra{}
.p3intermediariosemrecuoletracont{}




/* Textos citados */
.p3citacaomanchete{}

.p3citacaotit1{}
.p3citacaotit2{}

.p3citacaoolho{}

.p3citacao{}

.p3citacaoitem{}
.p3citacaoitemcont{}

.p3citacaoletra{}
.P3CitacaoLetraCont{}

.p3citacaonumero{}
.p3citacaonumerocont{}

/*👉==================== TEXTOS PESO: menor ===========================👈*/
/* Legenda */
.p4legenda{}

/* Crédito geral */
.p4credgeral{}

/* Cotas */
.p4cota{}
.p4cotamarcador{}

/* Vocabulário */
.p4vocabulario{}

/* Glossário */
.p4glossario{}

/* Recado imagem e medida animal */
.p4recadoimagem{}

/* Crédito Imagem*/

.p4creditoimagem{}

/* Cuidado dica */
.p4cuidadodica{}
.p4cuidadodicaitem{}
.p4cuidadodicaitemcont{} 

/* Respostas */
.p4resposta{}

/*👉TEXTOS SUPORTE👈*/
/* Balão de fala */
.p5balao{}

/* Marcadores */
.p5marcador{
    background: var(--verde1);
    color: var(--branco);
    font-weight: bold;   
    height: 25px;
    position: absolute;
    text-align: center;
    margin: 0 0 0 -30px;
    width: 25px;

}
.p5marcadornegativo{}

.p5marcador2{}
.p5marcador2negativo{}

.p5marcadorcaixa{}
.p5marcadorcaixanegativo{}

.p5marcadorcaixa2{}
.P5MarcadorCaixa2Negativo{}

/* ABERTURA DE CAPITULO */
/* FIXME: classe temporária */
.o0boxaberturaAtvTit{
    background: var(--preto);
    border-radius:3em;
    color: var(--branco);
    font-family: var(--titulo);
    font-weight: bold;
    padding: 0.2em 1em 0.3em 1em;
    margin: -3em 0 1em 0;
    width: max-content;
    max-width: 100%;
}

.p5aberturaobjtit{
    font-family: var(--texto);
    font-weight: bold;
    font-size: var(--pesoPadrao);
}
.p5aberturaobjitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1em;
}

/*👉ESTILOS DE CARACTER👈*/
.c1bold{}
.c1italico{}
.c1bolditalico{}

.c2respostabold{}
.c2respostaitalico{}
.c2respostabolditalico{}

.c3idioma{}
.c3idiomabold{}
.c3idiomaitalico{}
.c3idiomabolditalico{}
.c3idiomaresposta{}
.c3idiomaboldresposta{}
.c3idiomaitalicoresposta{}
.c3idiomabolditalicoresposta{}

.c4ordinal{}

.c4simuladorhiperlink{}

.c4vocabulariodestaque{}
.c4vocabulariodestaqueitalico{}

.c4glossariodestaque{}
.c4glossariodestaqueitalico{}

.c0destaqueletra{
    font-weight: bold;
    width: 24px;
    height: 24px;
    position: absolute;
    margin: 0 0 0 -26px;
    text-align: center;
}
.c0destaquenumero{
    font-weight: bold;
    width: 24px;
    height: 24px;
    position: absolute;
    margin: 0 0 0 -26px;
    text-align: center;
}
.c0destaqueromano{
    font-weight: bold;
    width: 36px;
    height: 36px;
    position: absolute;
    margin: 0 0 0 -40px;
    text-align: right;
}

/* ESTILO DE OBJETO */
.boxaberturaTit{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0 0 0 100px;
    max-width: 90% ;
    position: absolute;
    z-index: 3;
}

/*👉 ESTILOS DE OBJETOS
.o0boxaberturaAtv
.o0boxaberturaObj
.o0boxinfo
.o0boxdica
.o0boxdestaque
.o0boxcuidado
.o0boxexemplo
.o0boxpasso
.o0boxserconsciente
.o0boxrecadoimagem
.o0boxmedidaanimal
.o0boxpalavra
.o0boxpalavranegativa
.o0boxjornal
.o0boxficha
.o0boxcitacao
.o0sec1
.o0sec2
.o0sec3
.o0sec4
.o0sec5
.o0boxsec1
.o0boxsec2
.o1boxfundolaranja2
.o1boxfundoverde
.o1boxfundoazul1
.o1boxfundoazul2
.o2boxmapagrafico
.o2boxesquema
.o3boxfiolaranja1
.o3boxfiovermelho1
.o3boxfioroxo1
.o3boxfioverde1
.o3boxfiolaranja2
.o3boxfiovermelho2
.o3boxfioroxo2
.o3boxfioverde2
👈*/

.boxTeste1{
    position: relative;
}
.o0boxaberturaAtv, .o0boxaberturaObj{
    padding: 2em 1em 1em 2em ;
}
.imgAbertura {
    position: relative;
}
.o0boxaberturaAtv {
    background-color: var(--laranja3);
    border-radius: 3.5em 0 0 0;
    padding-bottom: 5em;
    position:relative;
    z-index: 3;
    margin: -6em 0 0 0; 
}
.o0boxaberturaAtv::before{
    content: '';
    background: url(../images/pv_boxaberturaatv_bg.svg) top left no-repeat;
    background-size: 100%;
    width: 113px;
    height: 55px;
    position: absolute;
    margin: -5em 0 0 -15px;
    z-index: -12;
}
.o0boxaberturaObj {
    background: url(../images/pv_o0boxaberturaObj_bg.svg)  no-repeat var(--vermelho2);
    background-position-x:110% ;
    background-position-y:-80% ;
    border-radius: 3.5em 0 0 0;
    position:relative;
    z-index: 4;
    margin: -4em 0 0 0;
   
}

.o3boxfiolaranja1, .o3boxfiovermelho1,
.o3boxfioroxo1,
.o3boxfioverde1,
.o3boxfiolaranja2,
.o3boxfiovermelho2,
.o3boxfioroxo2,
.o3boxfioverde2{
    margin: 1em 0;
}
.o3boxfiolaranja1::before,
.o3boxfiolaranja2::before{
    background: url(../images/pv_o3boxfiolaranja1.svg) top left no-repeat;
    content: '';
    width:42px;
    height: 42px;
    position: absolute;
    margin: -10px 0 0 -12px;
    z-index: -5;
}

.o3boxfiovermelho1::before{
    background: url(../images/pv_o3boxfiovermelho1.svg) top left no-repeat;
    content: '';
    width:42px;
    height: 42px;
    position: absolute;
    margin: -10px 0 0 -12px;
    z-index: -5;
}
.o3boxfiovermelho2::before{
    background: url(../images/pv_o3boxfiovermelho2.svg) top left no-repeat;
    content: '';
    width:42px;
    height: 42px;
    position: absolute;
    margin: -10px 0 0 -12px;
    z-index: -5;
}
.o3boxfioroxo1::before,
.o3boxfioroxo2::before{
    background: url(../images/pv_o3boxfioroxo1.svg) top left no-repeat;
    content: '';
    width:42px;
    height: 42px;
    position: absolute;
    margin: -10px 0 0 -12px;
    z-index: -5;
}


.o3boxfioverde1::before,
.o3boxfioverde2::before{
    background: url(../images/pv_o3boxfioverde1.svg) top left no-repeat;
    content: '';
    width:42px;
    height: 42px;
    position: absolute;
    margin: -10px 0 0 -12px;
    z-index: -5;
}

.o3boxfiolaranja1>.p1box1tit,
.o3boxfiovermelho1>.p1box1tit,
.o3boxfioroxo1>.p1box1tit,
.o3boxfioverde1>.p1box1tit,
.o3boxfiolaranja2>.p1box1tit,
.o3boxfiovermelho2>.p1box1tit,
.o3boxfioroxo2>.p1box1tit,
.o3boxfioverde2>.p1box1tit,
.o3boxfiolaranja1>.p1box2tit,
.o3boxfiovermelho1>.p1box2tit,
.o3boxfioroxo1>.p1box2tit,
.o3boxfioverde1>.p1box2tit,
.o3boxfiolaranja2>.p1box2tit,
.o3boxfiovermelho2>.p1box2tit,
.o3boxfioroxo2>.p1box2tit,
.o3boxfioverde2>.p1box2tit
{
    border-radius: 1em 1em 0 0 ;
    padding: 0.2em 1em;
    width: max-content;
    max-width: 100%;
}

.o3boxfiolaranja1>.p1box1tit,
.o3boxfiolaranja1>.p1box2tit{
    background: var(--laranja1);   
}

.o3boxfiovermelho1>.p1box1tit,
.o3boxfiovermelho1>.p1box2tit{
    background: var(--vermelho1);   
}
.o3boxfioroxo1>.p1box1tit,
.o3boxfioroxo1>.p1box2tit{
    background: var(--roxo1);   
}
.o3boxfioverde1>.p1box1tit,
.o3boxfioverde1>.p1box2tit{
    background: var(--verde1);   
}
.o3boxfiolaranja2>.p1box1tit, 
.o3boxfiolaranja2>.p1box2tit{
    background: var(--laranja2);   
}
.o3boxfiovermelho2>.p1box1tit,
.o3boxfiovermelho2>.p1box2tit{
    background: var(--vermelho2);   
}
.o3boxfioroxo2>.p1box1tit,
.o3boxfioroxo2>.p1box2tit{
    background: var(--roxo2);   
}
.o3boxfioverde2>.p1box1tit,
.o3boxfioverde2>.p1box2tit{
    background: var(--verde2);   
}

.o3boxfiolaranja1 .box,
.o3boxfiovermelho1 .box,
.o3boxfioroxo1 .box,
.o3boxfioverde1 .box,
.o3boxfiolaranja2 .box,
.o3boxfiovermelho2 .box,
.o3boxfioroxo2 .box,
.o3boxfioverde2 .box {
    border-radius: 0em 1em 1em 1em;
    background: var(--branco);
    padding: 1.2em;
}


.o3boxfiolaranja1 .box {
    border: 1px solid var(--laranja1);
   
}

.o3boxfiovermelho1 .box {
    border: 1px solid var(--vermelho1);
   
}
.o3boxfioroxo1 .box {
    border: 1px solid var(--roxo1);
   
}
.o3boxfioverde1 .box {
    border: 1px solid var(--verde1);
   
}
.o3boxfiolaranja2 .box {
    border: 1px solid var(--laranja2);
   
}
.o3boxfiovermelho2 .box {
    border: 1px solid var(--vermelho2);
   
}
.o3boxfioroxo2 .box {
    border: 1px solid var(--roxo2);
   
}
.o3boxfioverde2 .box {
    border: 1px solid var(--verde2);
   
}


/* BOX DICA */
.o0boxdica{     
    margin: 0 0 1em 0;
}
.o0boxdica>.p1box1tit{
    background: url(../images/pv_o0boxdica.svg) no-repeat var(--preto);
    background-size: 35px;
    background-position-x: -15px ;
    background-position-y: -10px ;
    border-radius: 1em 1em 0 0;
    width: max-content;
    max-width: 100%;
    padding: 0.2em 1em 0.2em 1.5em;
}
.o0boxdica>.box{
    background: var(--verde3);
    border-radius: 0 2em 0 0 ;   
    padding: 1em;
}

/* BOX FUNDO COR */
.o1boxfundolaranja2{
    background: var(--laranja3);
    padding: 1em;
    margin: 1em 0;
}


/* SEÇÃO 1 */
.o0sec1{
    padding: 2em 0.5em;
}
.o0sec1>.box{
    background: url(../images/pv_o0sec1_bg.svg) no-repeat var(--laranja3);
    background-position-x:-50px ;
    background-position-y:-40px;
    border-radius: 2em 0 0 0;
    padding: 5em 2em 2em 2em ;
}

/* SEÇÃO 2 */

.o0boxsec2{
    background: var(--verde2);
}
.o0boxsec2>.box {
    padding:1em 2em;
}

/* SEÇÃO 3 */
.o0sec3{
    background:url(../images/bg_sec3_bg.svg) no-repeat var(--laranja3);
    background-position-x:right ;
    background-position-y: -180px ;
    background-size: 100%;
    height: 500px;
}
.o0sec3>.box{
    padding: 3em 2.5em ;
}

/* SEÇÃO 4 */
.o0sec4{
    background:url(../images/pv_sec4_bg.svg) no-repeat;
    background-size: 100%;
}
.o0sec4>.box{
    padding: 3em 2.5em;
}
/*MEDIA QUERY*/
/*👉Versão Mobile Cel👈*/
@media screen and (max-width: 700px) {
    main{
        max-width: 100%;
    }

    
/*👉=================== ESTILOS MIOLO ================================👈*/
/* TÍTULOS MOBILE  */
.boxaberturaTit{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0 0 0 0px;
    max-width: 90% ;
    position: static;
   
}

.p0tit1{
    margin: 0 0 1em 0;
}


/* SEÇÃO 3 */
.o0sec3{
    background:url(../images/bg_sec3_bg.svg) no-repeat 
    ;
    background-position-x:right ;
    background-position-y: -80px ;
    background-size: 100%;
    height: 500px;
}
.o0sec3>.box{
    padding: 3em 2.5em ;
  
}



}

/*👉Versão Mobile tablet👈*/
@media screen and (min-width: 720px) and (max-width: 1024px) {}

/*👉Versão Desktop👈*/
@media screen and (min-width: 1200px) {}

/*👉Versão IMPRESSÃO👈*/
@media print and (max-height: 280mm) {}